{% extends 'base.html.twig' %}

{% block body %}
	<div class="flex justify-end mb-4">
		<a href="{{ path('catalog_import') }}" class="bg-blue-500 text-white px-4 py-2 rounded shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
			Importer une Mercuriale
		</a>
	</div>

	<div class="flex justify-between items-center mb-6">
		<h2 class="text-xl font-semibold">Liste des Produits</h2>
		<form action="" method="GET" class="search-form w-1/3">
			<input type="text" name="q" value="{{ searchQuery }}" placeholder="Rechercher un produit..." class="w-full px-4 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
		</form>
	</div>

	<table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
		<thead class="bg-gray-200">
			<tr>
				<th class="py-2 px-4 text-left">Image</th>
				<th class="py-2 px-4 text-left">Fournisseur</th>
				<th class="py-2 px-4 text-left">Description</th>
				<th class="py-2 px-4 text-left">Code</th>
				<th class="py-2 px-4 text-left">Prix</th>
				<th class="py-2 px-4 text-left">Status</th>
				<th class="py-2 px-4 text-left">Date d'ajout</th>
				<th class="py-2 px-4 text-left">Date de modification</th>
				<th class="py-2 px-4 text-left">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr class="border-t">
					<td class="py-2 px-4">
                        {% if product.imageUrl %}
                            <img src="{{ product.imageUrl }}" alt="{{ product.description }}" class="w-16 h-auto rounded-lg shadow-md">
                        {% else %}
                            <span class="text-gray-500">Pas d'image</span>
                        {% endif %}
                    </td>
					<td class="py-2 px-4 supplier-name">{{ product.supplier.name }}</td>
					<td class="py-2 px-4 description">{{ product.description }}</td>
					<td class="py-2 px-4">{{ product.code }}</td>
					<td class="py-2 px-4">{{ product.price.value | number_format(2, ',', ' ') }}€</td>
					<td class="py-2 px-4">
						<span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium
							{% if product.status == 'imported' %}
								bg-red-100 text-red-800
							{% elseif product.status == 'validated' %}
								bg-green-100 text-green-800
							{% else %}
								bg-gray-100 text-gray-800
							{% endif %}
						">
							{{ ('status.' ~ product.status) | trans }}
						</span>
					</td>
					<td class="py-2 px-4">{{ product.createdAt|date('d-m-Y H:i:s') }}</td>
					<td class="py-2 px-4">{{ product.updatedAt|date('d-m-Y H:i:s') }}</td>
					<td class="py-2 px-4">
						<a href="{{ path('product_show', {id: product.id}) }}" class="bg-blue-500 text-white px-4 py-2 rounded shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
							Voir les détails
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3" class="text-center py-4 text-gray-500">Aucun produit trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="mt-6">
		{{ knp_pagination_render(products) }}
	</div>
{% endblock %}
